
@{
    ViewData["Title"] = "Denied";
}

<h2>Usuario sin permisos</h2>
<center>
    <img src="~/images/error401.jpg" alt="No authorizado">
</center>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}